.carousel-wrap {
    margin: 30px auto 0;
    padding: 0;
    width: 85%;
    position: relative;
}

/* fix blank or flashing items on carousel */
.partner .img .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.partner .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.partner .owl-nav i {
  font-size: 52px;
}

.partner .owl-nav .owl-prev {
  left: -30px;
}

.partner .owl-nav .owl-next {
  right: -30px;
}
